body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.headerContainer {
    border: solid 1px #fd0000;
    background-color: #f8f9fa;
}
.mainContainer {
    border: solid 1px #8d36ff;
    background-color: #f8f9fa;
}

.footerContainer {
    border: solid 1px #1227e0;
    background-color: #f8f9fa;
}

